{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<style type="text/css">
		#id_label, #id_tasks {
			width: 350px;
		}
		.login-content {
			margin-top: 5%;
			margin-left: 17%;
/*			height: 85%;*/
		}
		@media only screen and (max-width: 750px) {
			#id_label, #id_tasks {
				width: 100%;
			}
			.login-content {
				margin-left: 0%;
	/*			height: 85%;*/
			}
		}

	</style>
	
	<div class="add-content">
		<h4>Add task</h4>
		<form method="POST" class="add-todo">
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" id="add" class="submit">Add</button>
		</form>
{% endblock content%}